@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	background-color: transparent;
	@apply text-gray-200 font-content;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
	border: none;
	width: fit-content;
	text-decoration: none;
}

h2 {
  @apply lg:text-5xl text-4xl mb-6 font-display;
}

h3 {
  @apply lg:text-3xl text-2xl mb-6 font-display;
}